<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prtr.ykgc.mapper.RoleMenuItemMapper">
  <resultMap id="BaseResultMap" type="com.prtr.ykgc.entity.RoleMenuItem">
    <result column="MENUINNERID" jdbcType="DECIMAL" property="menuInnerId" />
    <result column="ROLEID" jdbcType="NVARCHAR2" property="roleId" />
    <result column="ROLEMENUID" jdbcType="DECIMAL" property="roleMenuId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    MENUINNERID, ROLEID, ROLEMENUID
  </sql>
  <select id="selectByExample" parameterType="com.prtr.ykgc.entity.RoleMenuItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TB_ROLE_MENUITEM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.prtr.ykgc.entity.RoleMenuItemExample">
    delete from TB_ROLE_MENUITEM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.prtr.ykgc.entity.RoleMenuItem">
    insert into TB_ROLE_MENUITEM (MENUINNERID, ROLEID, ROLEMENUID
      )
    values (#{menuInnerId,jdbcType=DECIMAL}, #{roleId,jdbcType=NVARCHAR2}, #{roleMenuId,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.prtr.ykgc.entity.RoleMenuItem">
    insert into TB_ROLE_MENUITEM
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuInnerId != null">
        MENUINNERID,
      </if>
      <if test="roleId != null">
        ROLEID,
      </if>
      <if test="roleMenuId != null">
        ROLEMENUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuInnerId != null">
        #{menuInnerId,jdbcType=DECIMAL},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=NVARCHAR2},
      </if>
      <if test="roleMenuId != null">
        #{roleMenuId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.prtr.ykgc.entity.RoleMenuItemExample" resultType="java.lang.Long">
    select count(*) from TB_ROLE_MENUITEM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update TB_ROLE_MENUITEM
    <set>
      <if test="record.menuInnerId != null">
        MENUINNERID = #{record.menuInnerId,jdbcType=DECIMAL},
      </if>
      <if test="record.roleId != null">
        ROLEID = #{record.roleId,jdbcType=NVARCHAR2},
      </if>
      <if test="record.roleMenuId != null">
        ROLEMENUID = #{record.roleMenuId,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update TB_ROLE_MENUITEM
    set MENUINNERID = #{record.menuInnerId,jdbcType=DECIMAL},
      ROLEID = #{record.roleId,jdbcType=NVARCHAR2},
      ROLEMENUID = #{record.roleMenuId,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>