<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prtr.ykgc.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.prtr.ykgc.entity.User">
    <result column="USERID" jdbcType="VARCHAR" property="userId" />
    <result column="USERNAME" jdbcType="NVARCHAR2" property="username" />
    <result column="USERPASSWORD" jdbcType="NVARCHAR2" property="userPassword" />
    <result column="REGISTERSITEID" jdbcType="NVARCHAR2" property="registerSiteId" />
    <result column="AUTHORITY" jdbcType="NVARCHAR2" property="authority" />
    <result column="REALNAME" jdbcType="NVARCHAR2" property="realName" />
    <result column="CARDID" jdbcType="NVARCHAR2" property="carId" />
    <result column="PHONE" jdbcType="NVARCHAR2" property="phone" />
    <result column="DEPARTMENTID" jdbcType="NVARCHAR2" property="departmentId" />
    <result column="LASTLOGINTIME" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="REMARK" jdbcType="NVARCHAR2" property="remark" />
    <result column="ROLEID" jdbcType="NVARCHAR2" property="roleId" />
    <result column="POLICENUMBER" jdbcType="NVARCHAR2" property="policeNumber" />
    <result column="OLDERID" jdbcType="NVARCHAR2" property="oldErId" />
    <result column="DEPTGRADE" jdbcType="DECIMAL" property="deptGrade" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CANDEL" jdbcType="DECIMAL" property="canDel" />
    <result column="ISDEL" jdbcType="DECIMAL" property="isDel" />
    <result column="RESERVE1" jdbcType="VARCHAR" property="reserve1" />
    <result column="RESERVE2" jdbcType="VARCHAR" property="reserve2" />
    <result column="RESERVE3" jdbcType="VARCHAR" property="reserve3" />
    <result column="ISADMIN" jdbcType="DECIMAL" property="isAdmin" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USERID, USERNAME, USERPASSWORD, REGISTERSITEID, AUTHORITY, REALNAME, CARDID, PHONE, 
    DEPARTMENTID, LASTLOGINTIME, REMARK, ROLEID, POLICENUMBER, OLDERID, DEPTGRADE, CREATETIME, 
    CANDEL, ISDEL, RESERVE1, RESERVE2, RESERVE3, ISADMIN
  </sql>
  <select id="selectByExample" parameterType="com.prtr.ykgc.entity.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TB_USERS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.prtr.ykgc.entity.UserExample">
    delete from TB_USERS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.prtr.ykgc.entity.User">
    insert into TB_USERS (USERID, USERNAME, USERPASSWORD, 
      REGISTERSITEID, AUTHORITY, REALNAME, 
      CARDID, PHONE, DEPARTMENTID, 
      LASTLOGINTIME, REMARK, ROLEID, 
      POLICENUMBER, OLDERID, DEPTGRADE, 
      CREATETIME, CANDEL, ISDEL, 
      RESERVE1, RESERVE2, RESERVE3, 
      ISADMIN)
    values (#{userId,jdbcType=VARCHAR}, #{username,jdbcType=NVARCHAR2}, #{userPassword,jdbcType=NVARCHAR2}, 
      #{registerSiteId,jdbcType=NVARCHAR2}, #{authority,jdbcType=NVARCHAR2}, #{realName,jdbcType=NVARCHAR2}, 
      #{carId,jdbcType=NVARCHAR2}, #{phone,jdbcType=NVARCHAR2}, #{departmentId,jdbcType=NVARCHAR2}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=NVARCHAR2}, #{roleId,jdbcType=NVARCHAR2}, 
      #{policeNumber,jdbcType=NVARCHAR2}, #{oldErId,jdbcType=NVARCHAR2}, #{deptGrade,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{canDel,jdbcType=DECIMAL}, #{isDel,jdbcType=DECIMAL}, 
      #{reserve1,jdbcType=VARCHAR}, #{reserve2,jdbcType=VARCHAR}, #{reserve3,jdbcType=VARCHAR}, 
      #{isAdmin,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.prtr.ykgc.entity.User">
    insert into TB_USERS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USERID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="userPassword != null">
        USERPASSWORD,
      </if>
      <if test="registerSiteId != null">
        REGISTERSITEID,
      </if>
      <if test="authority != null">
        AUTHORITY,
      </if>
      <if test="realName != null">
        REALNAME,
      </if>
      <if test="carId != null">
        CARDID,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="departmentId != null">
        DEPARTMENTID,
      </if>
      <if test="lastLoginTime != null">
        LASTLOGINTIME,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="roleId != null">
        ROLEID,
      </if>
      <if test="policeNumber != null">
        POLICENUMBER,
      </if>
      <if test="oldErId != null">
        OLDERID,
      </if>
      <if test="deptGrade != null">
        DEPTGRADE,
      </if>
      <if test="createTime != null">
        CREATETIME,
      </if>
      <if test="canDel != null">
        CANDEL,
      </if>
      <if test="isDel != null">
        ISDEL,
      </if>
      <if test="reserve1 != null">
        RESERVE1,
      </if>
      <if test="reserve2 != null">
        RESERVE2,
      </if>
      <if test="reserve3 != null">
        RESERVE3,
      </if>
      <if test="isAdmin != null">
        ISADMIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=NVARCHAR2},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=NVARCHAR2},
      </if>
      <if test="registerSiteId != null">
        #{registerSiteId,jdbcType=NVARCHAR2},
      </if>
      <if test="authority != null">
        #{authority,jdbcType=NVARCHAR2},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=NVARCHAR2},
      </if>
      <if test="carId != null">
        #{carId,jdbcType=NVARCHAR2},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=NVARCHAR2},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=NVARCHAR2},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=NVARCHAR2},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=NVARCHAR2},
      </if>
      <if test="policeNumber != null">
        #{policeNumber,jdbcType=NVARCHAR2},
      </if>
      <if test="oldErId != null">
        #{oldErId,jdbcType=NVARCHAR2},
      </if>
      <if test="deptGrade != null">
        #{deptGrade,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="canDel != null">
        #{canDel,jdbcType=DECIMAL},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=DECIMAL},
      </if>
      <if test="reserve1 != null">
        #{reserve1,jdbcType=VARCHAR},
      </if>
      <if test="reserve2 != null">
        #{reserve2,jdbcType=VARCHAR},
      </if>
      <if test="reserve3 != null">
        #{reserve3,jdbcType=VARCHAR},
      </if>
      <if test="isAdmin != null">
        #{isAdmin,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.prtr.ykgc.entity.UserExample" resultType="java.lang.Long">
    select count(*) from TB_USERS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update TB_USERS
    <set>
      <if test="record.userId != null">
        USERID = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        USERNAME = #{record.username,jdbcType=NVARCHAR2},
      </if>
      <if test="record.userPassword != null">
        USERPASSWORD = #{record.userPassword,jdbcType=NVARCHAR2},
      </if>
      <if test="record.registerSiteId != null">
        REGISTERSITEID = #{record.registerSiteId,jdbcType=NVARCHAR2},
      </if>
      <if test="record.authority != null">
        AUTHORITY = #{record.authority,jdbcType=NVARCHAR2},
      </if>
      <if test="record.realName != null">
        REALNAME = #{record.realName,jdbcType=NVARCHAR2},
      </if>
      <if test="record.carId != null">
        CARDID = #{record.carId,jdbcType=NVARCHAR2},
      </if>
      <if test="record.phone != null">
        PHONE = #{record.phone,jdbcType=NVARCHAR2},
      </if>
      <if test="record.departmentId != null">
        DEPARTMENTID = #{record.departmentId,jdbcType=NVARCHAR2},
      </if>
      <if test="record.lastLoginTime != null">
        LASTLOGINTIME = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        REMARK = #{record.remark,jdbcType=NVARCHAR2},
      </if>
      <if test="record.roleId != null">
        ROLEID = #{record.roleId,jdbcType=NVARCHAR2},
      </if>
      <if test="record.policeNumber != null">
        POLICENUMBER = #{record.policeNumber,jdbcType=NVARCHAR2},
      </if>
      <if test="record.oldErId != null">
        OLDERID = #{record.oldErId,jdbcType=NVARCHAR2},
      </if>
      <if test="record.deptGrade != null">
        DEPTGRADE = #{record.deptGrade,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        CREATETIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.canDel != null">
        CANDEL = #{record.canDel,jdbcType=DECIMAL},
      </if>
      <if test="record.isDel != null">
        ISDEL = #{record.isDel,jdbcType=DECIMAL},
      </if>
      <if test="record.reserve1 != null">
        RESERVE1 = #{record.reserve1,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve2 != null">
        RESERVE2 = #{record.reserve2,jdbcType=VARCHAR},
      </if>
      <if test="record.reserve3 != null">
        RESERVE3 = #{record.reserve3,jdbcType=VARCHAR},
      </if>
      <if test="record.isAdmin != null">
        ISADMIN = #{record.isAdmin,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update TB_USERS
    set USERID = #{record.userId,jdbcType=VARCHAR},
      USERNAME = #{record.username,jdbcType=NVARCHAR2},
      USERPASSWORD = #{record.userPassword,jdbcType=NVARCHAR2},
      REGISTERSITEID = #{record.registerSiteId,jdbcType=NVARCHAR2},
      AUTHORITY = #{record.authority,jdbcType=NVARCHAR2},
      REALNAME = #{record.realName,jdbcType=NVARCHAR2},
      CARDID = #{record.carId,jdbcType=NVARCHAR2},
      PHONE = #{record.phone,jdbcType=NVARCHAR2},
      DEPARTMENTID = #{record.departmentId,jdbcType=NVARCHAR2},
      LASTLOGINTIME = #{record.lastLoginTime,jdbcType=TIMESTAMP},
      REMARK = #{record.remark,jdbcType=NVARCHAR2},
      ROLEID = #{record.roleId,jdbcType=NVARCHAR2},
      POLICENUMBER = #{record.policeNumber,jdbcType=NVARCHAR2},
      OLDERID = #{record.oldErId,jdbcType=NVARCHAR2},
      DEPTGRADE = #{record.deptGrade,jdbcType=DECIMAL},
      CREATETIME = #{record.createTime,jdbcType=TIMESTAMP},
      CANDEL = #{record.canDel,jdbcType=DECIMAL},
      ISDEL = #{record.isDel,jdbcType=DECIMAL},
      RESERVE1 = #{record.reserve1,jdbcType=VARCHAR},
      RESERVE2 = #{record.reserve2,jdbcType=VARCHAR},
      RESERVE3 = #{record.reserve3,jdbcType=VARCHAR},
      ISADMIN = #{record.isAdmin,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>